name: MacOS Cloud VNC

on:
  workflow_dispatch:

jobs:
  macos-vnc:
    name: macOS VNC Cloud PC
    runs-on: macos-latest

    steps:
      - name: Enable Screen Sharing (VNC)
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
          -activate -configure -access -on \
          -users runner \
          -privs -all \
          -restart -agent -menu

          sudo defaults write /Library/Preferences/com.apple.VNCSettings AuthMethod -int 1

      - name: Set VNC Password
        run: |
          echo "vncpassword" | perl -we 'print pack("H*", unpack("H*", <>))' | sudo tee /Library/Preferences/com.apple.VNCSettings >/dev/null

      - name: Install Ngrok
        run: |
          brew install ngrok

      - name: Start Ngrok TCP VNC Tunnel
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: |
          ngrok config add-authtoken "$NGROK_AUTH_TOKEN"
          ngrok tcp 5900 &

      - name: Keep Mac Alive
        uses: mxschmitt/action-tmate@v2
