name: macOS VNC Cloud PC
on:
  workflow_dispatch:

jobs:
  macos-vnc:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create VNC User
        run: |
          # Create a user named 'runner' with password '1234'
          sudo dscl . -create /Users/runneruser
          sudo dscl . -create /Users/runneruser UserShell /bin/bash
          sudo dscl . -create /Users/runneruser RealName "Runner User"
          sudo dscl . -create /Users/runneruser UniqueID 501
          sudo dscl . -create /Users/runneruser PrimaryGroupID 20
          sudo dscl . -create /Users/runneruser NFSHomeDirectory /Users/runneruser
          sudo dscl . -passwd /Users/runneruser 1234
          sudo dscl . -append /Groups/admin GroupMembership runneruser

      - name: Force Enable VNC
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -allowAccessFor -allUsers -privs -all
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -clientopts -setvnclegacy -vnclegacy yes
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -configure -clientopts -setvncpw -vncpw irvyrvck
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -restart -agent

      - name: Install and Start Ngrok
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: |
          brew install ngrok
          ngrok config add-authtoken "$NGROK_AUTH_TOKEN"
          # Using 5900 for VNC
          ngrok tcp 5900 --log=stdout &
          sleep 15

      - name: Wait for Connection
        uses: mxschmitt/action-tmate@v2
        
